<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:task="http://www.springframework.org/schema/task"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache-4.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.0.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<context:annotation-config />
	<!-- <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" 
		/> -->

	<bean id="personService" class="com.sky.projects.spring.annotation.Message">
		<property name="message" value="123"></property>
	</bean>


	<bean id="resource" class="com.sky.projects.spring.annotation.Resource">
		<!-- To inject values into array. -->
		<property name="strings">
			<list>
				<value>aa</value>
				<value>bb</value>
				<value>cc</value>
				<value>dd</value>
			</list>
		</property>

		<property name="messages">
			<list>
				<ref bean="message1" />
				<ref bean="message2" />
				<ref bean="message3" />
				<ref bean="message2" />
			</list>
		</property>

		<!-- To inject values into array. -->
		<property name="strings2">
			<value>aa,bb,cc</value>
		</property>

		<!-- To inject values into List. -->
		<property name="lists">
			<list>
				<value>aa</value>
				<value>bb</value>
				<value>cc</value>
				<value>dd</value>
			</list>
		</property>

		<property name="lsMessages">
			<list>
				<ref bean="message1" />
				<ref bean="message2" />
			</list>
		</property>

		<!-- To inject values into Set. -->
		<property name="sets">
			<set>
				<value>aa</value>
				<value>bb</value>
				<value>aa</value>
				<value>cc</value>
			</set>
		</property>

		<property name="setMessages">
			<set>
				<ref bean="message1" />
				<ref bean="message2" />
				<ref bean="message2" />
				<ref bean="message3" />
			</set>
		</property>

		<!-- To inject values into Map. -->
		<property name="maps">
			<map>
				<entry key="aa" value="I am aa"></entry>
				<entry key="bb" value="I am bb"></entry>
			</map>
		</property>

		<property name="mapMessages">
			<map>
				<entry key="1" value-ref="message1"></entry>
				<entry key="2" value-ref="message2"></entry>
			</map>
		</property>
	</bean>

	<bean id="message1" class="com.sky.projects.spring.annotation.Message">
		<property name="message" value="1111"></property>
	</bean>
	<bean id="message2" class="com.sky.projects.spring.annotation.Message">
		<property name="message" value="2222"></property>
	</bean>
	<bean id="message3" class="com.sky.projects.spring.annotation.Message">
		<property name="message" value="3333"></property>
	</bean>
</beans>
